*.o
*.a
*.lib
*.log
*.obj
*.dbc
*.dbg
*.prg
*.so
*.dll
*.res
*.exp
mycert*.txt
!libssl.a
!libcrypto.a
!libcups.a
dbcdx.cfg
aimdex
dbc
dbcd
dbcmp
dbcsc
dump
edit
library
tdcmp
dbcfs
dbcfsadm
dbcfsrun
setupodb
*.zip
*.exe
*.tdb
*.tdf
.vs/
.vscode/